<div class="about">
    <div class="heading">Easy, safe & instant way to buy/sell Bitcoins:</div>
    <p>InterMoney Exchange (the owner of the service) is
        creating the new standard of digital currencies exchange
        - easy, safe, affordable and available for everyone!
        We have a number of advantages that distinguish us from the competition:</p>
    <div class="about-collapse collapse">
        <ul class="mark-list about__list">
            <li class="mark-list__item">Licensed financial activity (details) by reputable compliant company;</li>
            <li class="mark-list__item">Risk-free service without holding clients’ funds, instant delivery;</li>
            <li class="mark-list__item">Lowest fees, regular promotions and special offers;</li>
            <li class="mark-list__item">Local payment options in 110+ countries!</li>
        </ul>
        <p><b>Accepting all credit/debit cards; 400,000 locations to buy/sell bitcoins with cash worldwide!</b></p>
        <div class="more"><a href="#" class="more__btn">read more</a></div>
    </div>
    <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target=".about-collapse" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa fa-chevron-down"></i><span class="btn-collapse__text">show me more</span><i class="fa fa-chevron-down"></i>
    </button>

</div>
