<div class="accept">
    <div class="accept__title">We accept:</div>
    <div class="accept__list">
        <a href="#" class="accept__item">
            <img src="./images/visa.png" alt="visa">
        </a>
        <a href="#" class="accept__item">
            <img src="./images/mastercard.png" alt="mastercard">
        </a>
        <a href="#" class="accept__item">
            <img src="./images/visa_electron.png" alt="visa-e">
        </a>
        <a href="#" class="accept__item">
            <img src="./images/maestro.png" alt="maestro">
        </a>
        <a href="#" class="accept__item">
            <img src="./images/interac.jpg" alt="interac">
        </a>
        <a href="#" class="accept__item">
            <img src="./images/sepa.jpg" alt="sepa">
        </a>
        <a href="#" class="accept__item">
            <img src="./images/swift.jpg" alt="swift">
        </a>
        <a href="#" class="accept__item">
            <img src="./images/echeck.jpg" alt="echeck">
        </a>
        <a href="#" class="accept__item">
            <img src="./images/cash-deposit.png" alt="cash-deposit">
        </a>
        <a href="#" class="accept__item">
            <img src="./images/local.png" alt="local-transfer">
        </a>
        <a href="#" class="accept__item">
            <img src="./images/money.png" alt="money-transfer">
        </a>
        <a href="#" class="accept__item">
            <img src="./images/bitcoin.png" alt="bitcoin">
        </a>
        <a href="#" class="accept__item">
            <img src="./images/litecoin.jpg" alt="litercoin">
        </a>
        <a href="#" class="accept__item">
            <img src="./images/namecoin.png" alt="namecoin">
        </a>
        <a href="#" class="accept__item">
            <img src="./images/peercoin.png" alt="peercoin">
        </a>
        <a href="#" class="accept__item">
            <img src="./images/okpay.png" alt="okpay">
        </a>
        <a href="#" class="accept__item">
            <img src="./images/moneypolo.png" alt="moneypolo">
        </a>
    </div>
</div>
