<!-- start.footer -->
<div class="footer">
  <div class="footer__lang">
    <div  role="combobox" class="jelect js-jelect choose-lang-mob">
        <input  value="en" data-text="EN" type="text" class="jelect-input js-jelect-input">
        <div tabindex="1" role="button" class="choose-lang-mob__current js-jelect-current choose-lang-mob__current-en">en</div>
        <div role="list-box" class="jelect-options js-jelect-options">
            <div class="jelect-scroller js-jelect-scroller">
                <div data-val="en" tabindex="1" role="option" class="jelect-option js-jelect-option  choose-lang-mob__en jelect-option_state_active"><div class="jelect-option__value js-jelect-option-value">EN</div></div>
                <div data-val="es" tabindex="1" role="option" class="jelect-option js-jelect-option choose-lang-mob__es "><div class="jelect-option__value js-jelect-option-value">ES</div></div>
                <div data-val="ru" tabindex="1" role="option" class="jelect-option js-jelect-option choose-lang-mob__ru "><div class="jelect-option__value js-jelect-option-value">RU</div></div>
            </div>
        </div>
      </div>
  </div>
    <div class="row">
        <div class="col-sm-7 col-md-8 col-md-push-4 col-sm-push-5">
            <div class="col-sm-6  col-md-5 col-md-offset-2 ">
                <ul class="footer__list">
                    <li class="footer__item footer__item_full-view"><a href="#" id="full-view" class="footer__link">Desktop view</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">User Agreement</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Information Security Statement</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">AML Policy</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Consent to Receive Electronic Communication</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-5">
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link">Privacy Statement</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Risk Disclosure Statement</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Refund Policy</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Delivery Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-5 col-md-4 col-md-pull-8 col-sm-pull-7">
            <p class="footer__copy">© 2014-2015, InterMoney Exchange™, Group of Companies. All rights reserved.</p>
            <div class="footer__banners">
                <img src="./images/verify-visa.png" alt="" class="footer__banner">
                <img src="./images/mc-security.png" alt="" class="footer__banner">
                <img src="./images/dss.png" alt="" class="footer__banner">
            </div>
        </div>
    </div>
</div>
<!-- end.footer -->
