<div class="latest-news">
    <h4 class="heading heading_orange">Latest news</h4>
    <ul class="latest-news__list">
        <li class="latest-news__item">
            <p class="latest-news__date">07 Mar, 2016</p>
            <a href="#" class="latest-news__link">Scheduled maintenance at the card payment processor on March, 9 and 11</a>
        </li>
        <li class="latest-news__item">
            <p class="latest-news__date">29 Feb, 2016</p>
            <a href="#" class="latest-news__link">247exchange.com covers Canada with instant ways of buying Bitcoin</a>
        </li>
        <li class="latest-news__item">
            <p class="latest-news__date">19 Feb, 2016</p>
            <a href="#" class="latest-news__link">More than 50 000 users now!</a>
        </li>
        <li class="latest-news__item">
            <p class="latest-news__date">09 Feb, 2016</p>
            <a href="#" class="latest-news__link">Approaching 50,000 users! Discounts are coming!</a>
        </li>
        <li class="latest-news__item">
            <p class="latest-news__date">14 Jan, 2016</p>
            <a href="#" class="latest-news__link">Buying and selling limits for bank transfers increased</a>
        </li>
    </ul>
    <div class="more"><a href="#" data-text='All news' class="more__btn">All news</a></div>
</div>
