<!-- start.sidebar -->
<div class="sidebar">
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="#">SERVICES</a></li>
        <li class="menu__item"><a class="menu__link" href="#">RATES & FEES</a></li>
        <li class="menu__item dropdown">
            <a class="menu__link menu__toggle dropdown-toggle"
                 >Affiliate program</a>
                <ul class="menu__dropdown" aria-labelledby="dLabel">
                    <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">Main page</a></li>
                    <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">About our company</a></li>
                    <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">Services</a></li>
                </ul>
        </li>
        <li class="menu__item"><a class="menu__link" href="#">PAYMENT METHODS</a></li>
        <li class="menu__item"><a class="menu__link" href="#">DIGITAL CURRENCIES</a></li>
        <li class="menu__item dropdown">
            <a href="#test" class="menu__link menu__toggle dropdown-toggle"
                  >About</a>
                <ul class="menu__dropdown">
                    <li class="menu__dropdown-item menu__dropdown-submenu">
                        <a href="#a" class="menu__dropdown-link menu__toggle trigger"
                                id="test"
                              >Legal Info</a>
                            <ul class="menu__dropdown sub-menu" aria-labelledby="test">
                                <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">Out Company</a></li>
                                <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">Out Company</a></li>
                                <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">Out Company</a></li>
                                <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">Out Company</a></li>
                                <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">Out Company</a></li>
                                <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">Out Company</a></li>
                            </ul>
                    </li>
                    <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">Legal Info</a></li>
                    <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">Newst</a></li>
                </ul>
        </li>
        <li class="menu__item dropdown active">
            <a class="menu__link menu__toggle dropdown-toggle"
                  >About</a>
                <ul class="menu__dropdown">
                    <li class="menu__dropdown-item menu__dropdown-submenu active">
                        <a class="menu__dropdown-link menu__toggle trigger"
                                id="test"
                              >Legal Info</a>
                            <ul class="menu__dropdown sub-menu" aria-labelledby="test">
                                <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">Out Company</a></li>
                                <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">Out Company</a></li>
                                <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">Out Company</a></li>
                                <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">Out Company</a></li>
                                <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">Out Company</a></li>
                                <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">Out Company</a></li>
                            </ul>
                    </li>
                    <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">Legal Info</a></li>
                    <li class="menu__dropdown-item"><a class="menu__dropdown-link" href="#">Newst</a></li>
                </ul>
        </li>
        <li class="menu__item"><a class="menu__link" href="#">Help</a></li>
    </ul>
    <div class="latest-news">
        <h4 class="heading heading_orange">Latest news</h4>
        <ul class="latest-news__list">
            <li class="latest-news__item">
                <p class="latest-news__date">07 Mar, 2016</p>
                <a href="#" class="latest-news__link">Scheduled maintenance at the card payment processor on March, 9 and 11</a>
            </li>
            <li class="latest-news__item">
                <p class="latest-news__date">29 Feb, 2016</p>
                <a href="#" class="latest-news__link">247exchange.com covers Canada with instant ways of buying Bitcoin</a>
            </li>
            <li class="latest-news__item">
                <p class="latest-news__date">19 Feb, 2016</p>
                <a href="#" class="latest-news__link">More than 50 000 users now!</a>
            </li>
            <li class="latest-news__item">
                <p class="latest-news__date">09 Feb, 2016</p>
                <a href="#" class="latest-news__link">Approaching 50,000 users! Discounts are coming!</a>
            </li>
            <li class="latest-news__item">
                <p class="latest-news__date">14 Jan, 2016</p>
                <a href="#" class="latest-news__link">Buying and selling limits for bank transfers increased</a>
            </li>
        </ul>
        <div class="more"><a href="#" class="more__btn">view all</a></div>
    </div>
    <a href="#" class="ask">
        <p class="ask__text">вы можете <br> Задать вопрос <br> консультанту</p>
    </a>
    <div class="follow">
        <h3 class="heading heading_green">Follow us</h3>
        <a href="#" class="follow__link follow__link_fb"></a>
        <a href="#" class="follow__link follow__link_tw"></a>
        <a href="#" class="follow__link follow__link_gp"></a>
    </div>
</div>
<!-- end.sidebar -->
