.btn-green-large,
.btn-grey-large {
    vertical-align: middle;
    text-decoration: none;
    padding: 15px 24px;
    height: 54px;
    border: none;
    cursor: pointer;
    background: linear-gradient(to bottom, #bbe61a 0%,#bbe61a 21%,#b1de22 42%,#9fd42d 62%,#95ce32 79%,#94cd32 100%);
    border-radius: 5px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.btn-orange-small {
    height: 28px;
    line-height: 28px;
    background-color: #f5881f;
    background-image:linear-gradient(to top, #f5881f 0%, #ffbf10 99%, #ffbf10 100%);
    color: #fff;
}
a.btn-green-large,
a.btn-grey-large {
    display: inline-block;
}
.btn-green-large,
.btn-grey-large,
.btn-orange-small {
    position: relative;
    &:hover {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 10;
            left: 0;
            z-index: -1;
            background: rgba(255,255,255, .1);
        }
    }
}
