.btn-green-large,
.btn-grey-large {
    vertical-align: middle;
    text-decoration: none;
    padding: 15px 24px;
    height: 54px;
    border: none;
    cursor: pointer;
    background: url("../images/large-btn.png") repeat-x 0 0 #b7d65a;
    border-radius: 5px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
}
.btn-orange-small {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    background-color: #f5881f;
    background-image: linear-gradient(to top, #f5881f 0%, #ffbf10 99%, #ffbf10 100%);
    color: #fff;
    z-index: 1;
}
.btn-grey,
.btn-orange-small,
.btn-red-small {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 0 11px;
    border-radius: 3px;
    text-decoration: none;
    line-height: 24px;
    font-size: 12px;
    text-transform: none;
    font-weight: 400;
}
a.btn-green-large,
a.btn-grey-large {
    display: inline-block;
}
.btn-red-small {
    height: 28px;
    line-height: 28px;
    background-color: #e34627;
    background: url("../images/red-btn.png") repeat-x 0 0;
    color: #fff;
}
.btn-green-large,
.btn-grey-large,
.btn-orange-small,
.btn-red-small {
    position: relative;
    color: #fff;
    &:hover {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: -1;
            background: rgba(255,255,255, .2);
        }
    }
}
.btn-green-large.disabled,
.btn-green-large:disabled,
.btn-grey-large {
    background-position: 0 -162px;
    border: none;
    padding: 15px 24px;
}
