.btn-green-large,
.btn-grey-large {
    vertical-align: middle;
    text-decoration: none !important;
    padding: 15px 24px;
    height: 54px;
    border: none;
    cursor: pointer;
    background: url("../images/large-btn.png") repeat-x 0 0 #b7d65a;
    border-radius: 5px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff !important;
    z-index: 1;
    box-sizing: border-box!important;
}
.btn-orange-small {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    background-color: #f5881f;
    background-image: linear-gradient(to top, #f5881f 0%, #ffbf10 99%, #ffbf10 100%);
    color: #fff;
    z-index: 1;
}
.btn-grey,
.btn-orange-small,
.btn-red-small {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 0 11px;
    border-radius: 3px;
    text-decoration: none;
    line-height: 24px;
    font-size: 12px;
    text-transform: none;
    font-weight: 400;
}
a.btn-green-large,
a.btn-grey-large {
    display: inline-block;
}
.btn-red-small {
    height: 28px;
    line-height: 28px;
    background-color: #e34627;
    background: url("../images/red-btn.png") repeat-x 0 0;
    color: #fff;
}
.btn-grey {
    height: 24px;
    border: #dedede 1px solid;
    border-top-color: #e9e9e9;
    border-bottom-color: #d1d1d1;
    background: url("../images/tpl/grey-btn-24.png") repeat-x 0 0 #e2e2e2;
    color: #9c9c9c;
    text-shadow: 1px 1px 0 #fbfbfb;
}
a.btn-grey:hover,
input.btn-grey:hover {
    background-position: 0 -26px;
    background-color: #fafafa;
}
a.btn-green,
a.btn-orange {
    display: inline-block;
    vertical-align: top;
    height: 26px;
    padding: 0 9px;
    background: url("../images/colored-link.png") repeat-x 0 -26px;
    line-height: 26px;
    color: #fff;
    text-decoration: none;
}
a.btn-green {
    background-position: 0 -52px;
}
a.btn-green:hover,
a.btn-orange:hover {
    background-position: 0 0;
}
.btn-green-large,
.btn-grey-large,
.btn-orange-small,
.btn-red-small {
    position: relative;
    color: #fff;
    &:hover {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: -1;
            background: rgba(255,255,255, .2);
        }
    }
}
.btn-green-large.disabled,
.btn-green-large:disabled,
.btn-grey-large {
    background-position: 0 -162px;
    border: none;
    padding: 15px 24px;
}
.show-more {
    position: relative;
    display: inline-block;
    vertical-align:top;
    height: 54px;
    padding: 5px 23px;
    margin: 20px 0;
    background: url("../images/show-more.png") repeat-x 0 0 #faa617;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 44px;
    font-size: 14px;
}
a.show-more:hover {
    background-position: 0 -108px;
    color: #fff;
    text-decoration: none;
}
.show-more span {
    color: #111111;
    border-bottom: #111111 1px dashed;
}
