.form
    position: relative
    background-color: #cfd1d1
    background-image: linear-gradient(to top, rgba(194, 194, 194, 0.26) 0%, rgba(255, 255, 255, 0.26) 48%, rgba(222, 222, 222, 0.26) 100%)
    border-radius: 0px 0px 6px 6px
    padding: 12px 0 18px 31px
    z-index: 1
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.5)
    width: 308px
    display: inline-block
    vertical-align: top

    @media(max-width: 950px)
        display: none
    &:before
        position: absolute
        left: 0
        bottom: 0
        content: ''
        background: url(../images/form-bg.png) no-repeat left bottom
        width: 44px
        height: 89px
        opacity: 0.81
        z-index: -1

    &__hello
        font-family: Arial
        font-size: 12px
        font-weight: 700
        color: #5c5c5c
        margin-bottom: 8px

    &__link
        color: #e34627
        text-decoration: underline

    &__inputs
        display: inline-block
        vertical-align: top
        margin-right: 6px

    .form-control
        margin-bottom: 5px
        &:last-of-type
            margin-bottom: 0

    &__controls
        display: inline-block
        vertical-align: top

    &__forget
        display: block
        margin-top: 5px
        color: white
        font-size: 11px
        text-decoration: underline
