.popup {
    background: #fff;
    padding: 20px 40px;
    border-radius: 6px;

    * {
      box-sizing: content-box;
    }
}
.popup h3 {
    margin: 0 0 28px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
}
.popup-form {
    clear: both;
    z-index: 156;
    position: relative;
}
.popup-form .row {
    margin: 0 18px 6px 0;
    position: relative;
    clear: both;
}
.popup-form .buttons {
    padding-top: 18px;
}
#mod5 .popup-form .buttons {
    padding-top: 0;
}
.popup-form .jquery-selectbox,
.popup-form .row input[type=email],
.popup-form .row input[type=password],
.popup-form .row input[type=tel],
.popup-form .row input[type=text] {
    height: 31px;
    margin-top: 0;
    border: #d8d8d8 1px solid;
    background: #fafafa;
    border-radius: 3px;
    font: 14px/31px Arial, Helvetica, sans-serif;
    color: #8a8a8a;
}
.popup-form .row input[type=email]:focus,
.popup-form .row input[type=password]:focus,
.popup-form .row input[type=tel]:focus,
.popup-form .row input[type=text]:focus {
    border-color: #8a8a8a;
}
.popup-form .row input[type=email].error,
.popup-form .row input[type=password].error,
.popup-form .row input[type=tel].error,
.popup-form .row input[type=text].error {
    border-color: #d50a00;
}
.popup-form input::-webkit-input-placeholder,
.popup-form textarea::-webkit-input-placeholder {
    color: #8a8a8a;
}
.popup-form input:-moz-placeholder,
.popup-form textarea:-moz-placeholder {
    color: #8a8a8a;
}
.btn-orange-middle {
    vertical-align: middle;
    text-decoration: none;
    padding: 10px 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    background: url("../images/btn-orange.png") repeat-x 0 0 #f68c1e;
    border-radius: 5px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
a.btn-orange-middle {
    display: inline-block; //zoom:1; //display:inline;
}
input.btn-orange-middle {
    height: 42px;
    padding: 0 24px;
}
.btn-orange-middle:hover {
    background-position: 0 -42px;
}
.btn-orange-middle:active {
    background-position: 0 -84px;
}
.popup-form .errorMessage {
    position: absolute;
    background: #d50a00;
    bottom: 37px;
    margin: 0;
    z-index: 150;
    max-width: none;
    white-space: nowrap;
    left: 10px;
    min-width: 100px;
}
.popup-form .errorMessage:before {
    left: 30px;
    top: 100%;
    margin: 0;
    background: url("../images/red-arrow-down.png") no-repeat 0 bottom;
    width: 10px;
    height: 7px;
}
#mod2 form {
    margin-right: 10px;
}
.popup-form .row {
    display: inline-block; //zoom:1; //display:inline;
    vertical-align: top;
}
#mod2 .popup-form select {
    width: 100%;
}
.popup-form .jquery-selectbox {
    display: block;
    height: 31px;
    margin: 0;
    border: #d8d8d8 1px solid;
    background: #fafafa;
    border-radius: 3px;
    font: 14px/31px Arial, Helvetica, sans-serif;
    color: #8a8a8a;
    text-align: left;
}
.popup-form .jquery-selectbox .jquery-selectbox-currentItem {
    font: 14px/31px Arial, Helvetica, sans-serif;
    color: #8a8a8a;
    text-align: left;
}
#mod2 .popup-form .jquery-selectbox.selecthover {
    border-color: #000;
}
.popup-form .jquery-selectbox .jquery-selectbox-list {
    background: #fafafa;
    border: #000 1px solid;
    top: 30px;
}
.popup-form .jquery-selectbox .jquery-selectbox-list .jquery-selectbox-item {
    padding-left: 14px;
    color: #000;
    line-height: 22px;
    font-size: 12px;
}
.popup-form .jquery-selectbox .jquery-selectbox-list .jquery-selectbox-item:hover {
    color: #fa5926;
}
.color-red {
    color: #c52d21;
}
.card-popup {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 17px;
    font-size: 14px;
}
.card-popup p {
    margin-bottom: 16px;
}
.form-card-note {
    clear: both;
    display: block;
    color: #8a8a8a;
    font-size: 11px;
    line-height: 14px;
}
input + .form-card-note {
    top: -2px;
    position: relative;
}
.card-popup .txt-right {
    position: relative;
}
.card-popup label {
    display: block;
    line-height: 24px;
    font-weight: 400;
    color: #1c1c1c;
}
.card-popup .popup-form {
    margin-right: -30px;
}
.card-popup .row {
    margin-bottom: 20px;
}
.card-popup .row .span-2 {
    margin-right: 10px;
}
.hover-info {
    position: absolute;
    display: none;
    right: -7px;
    bottom: 100%;
    padding: 26px;
    margin-bottom: 8px;
    background: #fff;
    border: #e4e4e4 1px solid;
    border-radius: 5px;
    z-index: 9999;
    box-shadow: 0 5px 27px 0 rgba(0,0,0,0.47);
    color: #777777;
    font-size: 11px;
    line-height: 13px;
}
div:hover > .hover-info {
    display: block;
}
.hover-info strong {
    display: block;
    color: #040404;
    font-size: 14px;
    line-height: 22px;
}
.hover-info:after {
    content: "";
    position: absolute;
    right: 38px;
    bottom: -7px;
    width: 25px;
    height: 8px;
    background: url("../images/arrow-hint.png") no-repeat;
}
.hover-info img {
    display: block;
    margin-bottom: 13px;
}
