table {
    margin-bottom: 1.4em;
    width: 100%;
}
th {
    font-weight: bold;
}
thead th {
    background: #c3d9ff;
}
caption,
td,
th {
    padding: 4px 10px 4px 5px;
}
tbody tr.even td,
tbody tr:nth-child(even) td {
    background: #e5ecf9;
}
tfoot {
    font-style: italic;
}
.tbl-def {
    width: 100%;
    border: none;
    margin-bottom: 40px;
    border-collapse: separate;
    border-spacing: 1px;
}
.tbl-def tbody tr:first-child th:first-child,
.tbl-def thead th.th-first,
.tbl-def thead th:first-child,
.tbl-def tr.tr-first th.th-first {
    border-top-left-radius: 6px;
}
.tbl-def tbody tr:first-child th:last-child,
.tbl-def thead th.th-last,
.tbl-def thead th:last-child,
.tbl-def tr.tr-first th.th-last {
    border-top-right-radius: 6px;
}
.tbl-def tr.tr-last td.td-first,
.tbl-def tr.tr-last th.th-first,
.tbl-def tr:last-child td.td-first,
.tbl-def tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}
.tbl-def tr.tr-last td.td-last,
.tbl-def tr.tr-last th.th-last,
.tbl-def tr:last-child td.td-last,
.tbl-def tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}
.tbl-def tr {
    background: none;
}
.tbl-def th {
    height: 44px;
    padding: 5px 23px;
    background: url("../images/th-orange.png") repeat-x 0 bottom #ffbf10;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    vertical-align: middle;
}
.tbl-def td {
    background: #f9f9f9;
    height: 44px;
    padding: 5px 23px;
    font-size: 14px;
    line-height: 20px;
    color: #8e8e8e;
    vertical-align: middle;
}
.tbl-def tr.even td,
.tbl-def tr:nth-child(even) td {
    background: #eeeeee;
}
.tbl-def td.td-price {
    color: #1a1a1a;
}
.tbl-two-columns-price table tr td:first-child+*,
table.tbl-two-columns-price tr td:first-child+* {
    color: #1a1a1a;
}
table.tbl-simple {
    width: 100%;
    border: none;
    margin-bottom: 40px;
    border-collapse: collapse;
    border-spacing: 0;
}
table.tbl-simple th {
    height: 40px;
    padding: 5px 25px;
    color: #0e0e0e;
    font-size: 16px;
    line-height: 22px;
    vertical-align: middle;
    font-weight: 700;
}
table.tbl-simple td {
    height: 25px;
    padding: 5px 24px;
    vertical-align: middle;
    border: #ebebeb 1px solid;
    color: #8e8e8e;
    font-size: 14px;
    line-height: 20px;
}
table.tbl-simple tr.even td,
table.tbl-simple tr:nth-child(even) td {
    background: none;
}
.tbl-order-details {
    margin-bottom: 37px;
    border-collapse: collapse;
    border: none;
    border-spacing: 0;
}
.tbl-order-details th {
    padding: 5px;
    height: 44px;
    background: url("../images/th-orange.png") repeat-x 0 0 #f68b1e;
    text-align: center;
    color: #fff;
    font-weight: 700;
    border-left: #fff 2px solid;
}
.tbl-order-details th.th-empty,
.tbl-order-details th:first-child {
    background: none;
    border: none;
}
.tbl-order-details th:first-child+* {
    border: none;
    border-top-left-radius: 6px;
}
.tbl-order-details tr td {
    border-right: #fff 2px solid;
    background: #f2f2f2;
    text-align: center;
    color: #000;
}
.tbl-order-details tr td.td-last {
    border-right: none;
}
.tbl-def tr.even td,
.tbl-order-details tr:nth-child(even) td {
    background: #ffffff;
}
.tbl-order-details tbody tr td:first-child,
.tbl-order-details tr td.td-first {
    background: #9cb702;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding-right: 16px;
    text-align: right;
    border: none;
}
.tbl-def tr.even td.td-first,
.tbl-order-details tbody tr:nth-child(even) td:first-child,
.tbl-order-details tr:nth-child(even) td.td-first {
    background: #b1d002;
}
.tbl-order-details tbody tr:first-child td:first-child,
.tbl-order-details tr.tbody-tr-first td.td-first {
    border-top-left-radius: 6px;
}
.promo-block .heading {
    font-size: 24px;
}
.promo-block table.tbl-simple th {
    font-size: 12px;
    padding: 0 10px;
}
.promo-block table.tbl-simple td {
    padding: 14px 10px;
    height: auto;
}
.approve-order {
    text-align: right;
}
.approve-order label {
    position: relative;
    display: inline-block; //zoom:1; //display:inline; vertical-align:middle;
    width: 230px;
    padding-right: 25px;
    font-weight: 400;
}
.approve-order label input[type=checkbox] {
    position: absolute;
    right: 0;
}
.tbl-orders,
.tbl-orders2 {
    margin-top: 26px;
}
.tbl-orders tr {}
.tbl-orders tr th,
.tbl-orders2 tr th {
    padding: 7px 0;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.tbl-orders tr td,
.tbl-orders2 tr td {
    padding: 7px 0;
    height: 40px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}
.tbl-orders tr td.td-operation {
    color: #000000;
    text-align: left;
    padding-left: 22px;
    font-weight: 700;
}
.tbl-orders tr td.td-operation strong {
    color: #6f8f00;
}
.tbl-verification tr td:first-child+*+*+* {
    color: #000000;
    text-align: left;
    padding-left: 22px;
}
.tbl-verification tr td:first-child+*+*+* strong {
    color: #6f8f00;
}
.tbl-orders2 tr td:first-child+*+* {
    color: #000000;
    text-align: left;
    padding-left: 22px;
    font-weight: 700;
}
.tbl-orders2 tr td:first-child+*+* strong {
    color: #6f8f00;
}
.tbl-states-over {
    margin: 0 -22px;
}
.tbl-def.tbl-states {
    border-collapse: collapse;
}
.tbl-def.green-header tr th {
    background: url("../images/green-th.png") repeat-x 0 bottom #b9d500;
}
.tbl-def.tbl-states tr th {
    padding: 2px 20px;
    height: 50px;
    border-bottom: #fff 2px solid;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.tbl-def.tbl-states tr td {
    padding: 2px 20px;
    height: 30px;
    font-size: 14px;
    font-style: italic;
    color: #000;
    border-top: #fff 1px solid;
}
.tbl-def.tbl-states tr.tr-first td {
    border-top: none;
}
.ml60 {
    margin-left: 60px;
}
